<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Калькулятор</title>
    </head>
    <body>
        <h1>Расчёт с параметрами:</h1>
        <p>{{ a }} + {{ b }} = {{ sum_result }}</p>
        <p>{{ a }} - {{ b }} = {{ sub_result }}</p>
        <p>{{ a }} * {{ b }} = {{ mul_result }}</p>
        <p>{{ a }} / {{ b }} = {{ div_result }}</p>
        <p>{{ a }}^{{ b }} = {{ pow_result }}</p>
    </body>
</html>