{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

    <h1>База знаний</h1>
    <div class="container">
        <div class="buttons">
            <a class="button" href="/lab5/login">Логин</a>
            <a class="button" href="/lab5/register">Регистрация</a>
            <a class="button" href="/lab5/list">Список статей</a>
            <a class="button" href="/lab5/create">Создать статью</a>
        </div>
        <div class="right">
            {% if login %}
                {{login}}
            {%else%}
                Anonymous
            {%endif%}
        </div>
    </div>
    <div class="container" >
        {% if login %}
                <a  style="background-color: red;" class="button" href="/lab5/logout">Выйти</a>
        {% endif %}
    </div>
    
{% endblock %}