img{
    height: 150px;
    width: 200px;
}
body{
    background-color: aquamarine;
    color: chocolate;
    font-style: italic;
    font-size: 18pt;
}
.error-container {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    text-align: center;
}
.img_styles{
    height: 300px;
    width: 400px;
}